.a1{
    background-image: url(./images1/image.png);
    width: 90%;
    height: 400px;
    display: flex;
    border-radius: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
}